
  .ab3anmenulistbodylist {
    width: 100%;
    text-align: right;
  }

  .ab3anmenulistbodylist a {
    color: #fff;
    text-decoration: none;
    background-color: #1e3046;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    white-space: nowrap;
  }


  .ab3anmenumobil {
    display: none;
    cursor: pointer;
  }


  .ab3anmenulistbody {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
  }

  .ab3anChildren {
    display: flex;
    width: var(--max);
    gap: 15px;
    align-items: end;
  }

  .ab3an {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #000;
  }

  .ab3antitle {
    width: 100%;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .ab3antitlebody {
    color: #fff;
    width: var(--max);
    display: flex;
    justify-content: space-between;
    padding: 10px 0px 10px 0px;
  }

  .ab3antitlebodytitle {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
  }

  .ab3antitlebodylang {
    width: auto;
    margin: -5px 0px -5px 0px;
  }

  .ab3antitlebodylang ul {
    display: flex;
    gap: 5px;
  }

  .ab3anbody {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 0px 5px 0px;
  }

  .ab3anmenulist {
    display: block;
    background-color: #1e3046;
    padding: 10px 0px 10px 0px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
  }

  .ab3anmenubody {
    width: 100%;
    background-color: #1e3046;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .ab3anmenulist ul {
    width: 100%;
    list-style-type: none;
    display: flex;
    gap: 10px;
    margin: 0;
    padding: 0;
    overflow-x: auto;
  }

  .ab3anmenulist ul a {
    padding: 10px;
    font-size: 16px;
    color: #fff;
    border-bottom: 1px solid #ddd;
    width: 100%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    white-space: nowrap;
  }

  .ab3anmenulist ul a:hover {
    background-color: #e0e0e0;
    border-radius: 5px;
    color: #000;
    cursor: pointer;
  }

  .ab3anbodylogo {
    height: 100px;
    max-width: 90vw;
  }

  @media screen and (min-width: 1024px) {
    .ab3anmenumobil {
      display: none !important;
    }

    .ab3anmenulist {
      display: flex !important;
    }
  }

  @media screen and (max-width: 1024px) {
    .ab3anmenumobil {
      display: flex;
      align-items: center;
      justify-content: end;
      background-color: #1e3046;
      width: 100%;
    }

    .ab3anmenumobil div {
      font-size: 32px;
      color: #fff;
      padding: 5px;
    }

    .ab3anmenulist {
      display: none;
    }

    .ab3anbody {
      flex-direction: column;
      gap: 20px;
    }

    .ab3anChildren {
      width: 100%;
      gap: 0px;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .ab3anmenulist ul a {
      padding: 10px 0px 10px 0px;
    }

    .ab3anmenu {
      overflow-x: auto;
    }

    .ab3anmenulist ul {
      flex-direction: column;
    }

    .ab3anbodylogo {
      height: 50vw;
      max-width: 50vw;
      max-height: 100px;
    }
  }

  @media screen and (max-width: 768px) {
    .ab3anmenulist ul a {
      font-size: 14px;
    }
  }


  .body-bhpln {
    width: var(--max);
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
    margin: 30px 0px 0px 0px;
  }

  .body-left-bhpln {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 10px;
    background-image: url("/img/bb47sl/radio.png") !important;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    aspect-ratio: 16/9;
  }

  .body-right-bhpln {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1e3046;
    border-radius: 10px;
    padding: 10px;
  }

  .messages-bhpln {
    width: 100%;
    height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 10px;
  }

  .messages-bhpln-input {
    display: flex;
    width: 100%;
  }

  .messages-bhpln-input-input {
    flex: 1;
    border-radius: 5px 0 0 5px;
    border: 1px solid #ccc;
    padding: 5px;
  }

  .message-bhpln {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: #f0f0f0;
    word-break: break-word;
    box-sizing: border-box;
  }

  .messages-bhpln-input-button {
    border-radius: 0 5px 5px 0;
    border: 1px solid #ccc;
    background: #eee;
    padding: 5px 15px;
  }


  .xftpcbody {
    margin: 10px 0px 0px 0px;
    padding: 10px 0px 10px 0px;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: #669b2a;

   }









  .title-xftpc {
    font-size: 18px;
    text-align: center;
  }

  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .swiper-pagination-xftpc {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .sliderxxftpc {
    position: relative;
    width: 100%;
    max-width: var(--max);
  }

  .slider-xftpct-itle {
    width: 100%;
    font-size: 32px;
    font-weight: 700;
    color: #fff;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom: 10px;
  }

  .swiper-button-prev-xftpc,
  .swiper-button-next-xftpc {
    color: #fff !important;
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    opacity: 0.7;
    transition: background 0.2s, opacity 0.2s;
    position: absolute !important;
    top: 50%;
    transform: translateY(-50%);
  }

  .swiper-button-prev-xftpc {
    left: -30px !important;
  }

  .swiper-button-next-xftpc {
    right: -30px !important;
  }

  .swiper-button-prev-xftpc:hover,
  .swiper-button-next-xftpc:hover {
    background: #ff7e5f;
    opacity: 1;
  }

  @media screen and (max-width: 1024px) {
    .sliderxxftpc {
      width: 100%;
    }
  }

  @media screen and (max-width: 768px) {
    .swiper-xftpc {
      margin: 2px;
      gap: 4px;
    }

    .slider-xftpct-itle {
      font-size: 22px;
    }
  }

  .img-xftpc {
    aspect-ratio: 1/1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 5px 11px 0px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    position: relative;
    overflow: hidden;
  }

  .img-xftpc>img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }

  .spot-xftpc {
    flex: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
  }

  .button-xftpc {
    background-color: --color--;
    padding: 8px;
    border-radius: 5px;
    color: #fff;
    display: flex;
  }

  .button-xftpc>* {
    display: flex;
    align-items: center;
    justify-content: left;
  }

  .button-xftpc:hover {
    filter: brightness(0.9);
    transition: filter 0.3s;
  }

  .button-xftpc:hover span {
    transform: translateX(8px) scale(1.2);
    /* Move and scale the icon */
    transition:
      transform 0.4s ease,
      color 0.4s ease;
  }

  .button-xftpc:hover .w100 {
    transition: color 0.4s ease;
  }

  .swiper-xftpc {
    background-color: #fff;
    border-radius: 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 10px;
    padding: 5px;
    box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.12);
    transition: transform 0.2s, box-shadow 0.2s;
    cursor: pointer;

  }

  .swiper-xftpc:hover {
    transform: scale(1.04);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.18);
  }

  .xftpc {
    overflow-x: auto;
  }

  .xftpc::-webkit-scrollbar {
    display: none;
  }


  .sliderxugycvbody {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #004e92 0%, #000428 33%, #004e92 66%, #000428 100%);
    margin: 0px 0px 0px 0px;
    padding: 25px 0px 25px 0px;
    font-size: 36px;
    color: #fff;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 1);
    transition: all 0.3s ease;
    letter-spacing: 1px;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }





  @media screen and (max-width: 1200px) {}


  .pwqsd {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .pwqsdbody {
    width: var(--max);
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
  }
  .pwqsdbodyitem {
    aspect-ratio: 7 / 4;
    background-color: #f2f2f2;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  .pwqsdbodyitemimg {
    aspect-ratio: 12 / 8;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 5px;
    overflow: hidden; /* Taşma durumunda kesme */
  }
  .pwqsdbodyitemimg img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Resmi sığdır, taşma yapmasın */
    border-radius: 5px;
  }
  .pwqsdbodyitemtitle {
    border-radius: 3px;
    padding: 5px;
    background-color: #e9e9e9;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #333;
  }
  @media screen and (max-width: 1024px) {
    .pwqsdbody {
      width: calc(100% - 10px);
      margin: 0px 5px 0px 5px;
      grid-template-columns: repeat(3, 1fr);
    }
  }
  @media screen and (max-width: 768px) {
    .pwqsdbody {
      width: calc(100% - 10px);
      margin: 0px 5px 0px 5px;
      grid-template-columns: repeat(2, 1fr);
    }
  }


  .sliderxylv4jbody {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #004e92 0%, #000428 33%, #004e92 66%, #000428 100%);
    margin: 15px 0px 0px 0px;
    padding: 25px 0px 25px 0px;
    font-size: 36px;
    color: #fff;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 1);
    transition: all 0.3s ease;
    letter-spacing: 1px;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }





  @media screen and (max-width: 1200px) {}


  .uh0n9 {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .uh0n9body {
    width: var(--max);
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    /* 3 columns */
    justify-content: center;
    /* Center all grid items */
  }
  .uh0n9bodyitem {
    position: relative;
    aspect-ratio: 7 / 4;
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    transition:
      transform 0.3s ease,
      box-shadow 0.3s ease;
    /* Add ease for smoother transitions */
    justify-content: center;
  }
  .uh0n9bodyitem:hover {
    transform: scale(1.05);
    /* Zoom effect */
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.3);
  }
  .uh0n9bodyitemimg {
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 10px;
  }
  .uh0n9bodyitemimg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Cover the entire area */
  }
  .uh0n9bodyitemtitle {
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    font-weight: 600;
    color: #444;
    font-size: 1.1em;
  }
  @media screen and (max-width: 1024px) {
    .uh0n9body {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  @media screen and (max-width: 768px) {
    .uh0n9body {
      grid-template-columns: repeat(2, 1fr);
    }
  }


  .sliderxqwq5ebody {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 0px 0px 0px;
    padding: 25px 0px 25px 0px;
  }
  .sliderxqwq5e {
    width: calc(var(--max) - 40px);
    display: flex;
    background-color: #f9f9f9;
    border-radius: 12px;
    padding: 25px;
    gap: 40px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    background-color: #1e3046;
  }
  .sliderxqwq5e:hover {
    transform: translateY(-5px);
  }
  .sliderxqwq5etitle {
    width: 60%;
    font-size: 28px;
    padding-right: 15px;
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px solid #fff;
  }
  .qwq5e {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
  }
  .qwq5e-media {
    width: 75px;
    height: 75px;
    border-radius: 8px;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  .qwq5e-media:hover {
    transform: scale(1.2);
  }
  @media screen and (max-width: 1200px) {
    .sliderxqwq5e {
      width: calc(var(--max) - 100px) !important;
    }
    .qwq5e-media {
      width: 60px;
      height: 60px;
    }
  }


  .footer {
    position: relative;
    background: #1e3046;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 120px;
  }

  .social-icon,
  .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
  }

  .social-icon__item,
  .menu__item {
    list-style: none;
  }

  .social-icon__link {
    font-size: 2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
  }

  .social-icon__link:hover {
    transform: translateY(-10px);
  }

  .menu__link {
    font-size: 1.2rem;
    color: #fff !important;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
    font-weight: 300;
  }

  .menu__link:hover {
    opacity: 1;
  }

  .footer p {
    color: #fff;
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
  }

  .wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background-image: url("data:image/svg+xml,%3Csvg version='1.0' id='katman_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 640 65' style='enable-background:new 0 0 640 65;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%231e3046;%7D %3C/style%3E %3Cpath class='st0' d='M0,22.4C0,22.4,74.1,0,153,0c176.5,0,328.1,76.6,487,22.4V65H0V22.4z'/%3E%3C/svg%3E");
    background-size: 1000px 102px;
  }

  .wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWaves 4s linear infinite;
  }

  .wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animate 4s linear infinite !important;
  }

  .wave#wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWaves 3s linear infinite;
  }

  .wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animate 3s linear infinite;
  }

  @keyframes animateWaves {
    0% {
      background-position-x: 1000px;
    }

    100% {
      background-positon-x: 0px;
    }
  }

  @keyframes animate {
    0% {
      background-position-x: -1000px;
    }

    100% {
      background-positon-x: 0px;
    }
  }

